<header class="main-header">
    <div class="container main-header__inner">
        <a href="/" class="logo">
            <img src="{% static 'png/AlmaU.png' %}" alt="AlmaU" class="logo__img">
        </a>

        <nav class="nav" aria-label="Основная навигация">
            <ul class="nav__list">
                <li class="nav__item nav__item--dropdown">
                    <a href="/schools/">Школы</a>
                    <ul class="dropdown">
                        <li><a href="/schools/transformative-humanities/">School of Transformative Humanities</a></li>
                        <li><a href="/schools/entrepreneurship/">School Of Business</a></li>
                        <li><a href="/schools/digital-technologies/">School Of Digital Technologies</a></li>
                        <li><a href="/schools/economics-and-finance/">School Of Economics</a></li>
                        <li><a href="/schools/management/">School Of Management</a></li>
                        <li><a href="/schools/media-and-cinema/">School Of Media</a></li>
                        <li><a href="/schools/politics-and-law/">School Of Politics</a></li>
                        <li><a href="/schools/hospitality-and-tourism/">School Of Tourism</a></li>
                        <li><a href="/schools/health-sciences/">Sharmanov School</a></li>
                    </ul>
                </li>
                <li class="nav__item"><a href="/chatbot/">ИИ бот</a></li>
                <li class="nav__item"><a href="/#about">Об AlmaU</a></li>
                <li class="nav__item"><a href="/#apply">Оставить заявку</a></li>
            </ul>
        </nav>

        <div class="lang-switcher">
            <div class="lang-current" data-lang-current>ru</div>
            <div class="lang-dropdown">
                <a href="#ru" data-lang-option="ru">Русский</a>
                <a href="#kz" data-lang-option="kz">Қазақша</a>
                <a href="#en" data-lang-option="en">English</a>
            </div>
        </div>
    </div>
</header>
